.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
.block {
  background: #fdf9ef;
}

.margin26 {
  margin: 26px;
}

.align {
  margin-top: 126px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  font-family: SFProDisplay-Bold;
  color: #c9c9c9;
  text-align: left;
}

.h1_grey {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  font-family: SFProDisplay-Bold;
  color: #3e3e3e;
  text-align: left;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 22px;
  font-family: SFProDisplay-Bold;
  color: #3e3e3e;
  text-align: left;
  margin-top: 70px;
}

input {
  width: 324px;
  height: 40px;
  text-align: center;
  color: #a7a7a7;
  font-size: 16px;
  border: 1px solid #a7a7a7;
  border-radius: 8px;
  margin: 6px;
}

button {
  width: 324px;
  height: 40px;
  background: #72b3ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  margin: 6px;
  /* Continue: */
  text-align: center;
  font-family: SFProDisplay-Semibold;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.03px;
}

.copytext {
  font-family: SFProDisplay-regular;
  font-size: 16px;
  color: #a7a7a7;
  letter-spacing: 0.2px;
  line-height: 22px;
}
